<!DOCTYPE html>
<html>
<head>
  <title>Snaps</title>
  <%= stylesheet_link_tag    "snaps/application", media: "all" %>
  <%= javascript_include_tag "snaps/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
